.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    left: 50px;
    position: relative;
    top: 8px;
    width: calc(100% - 10rem);
    z-index: 2
}

button {
    font-size: 1rem;
    padding: 0.75rem;    
}

button.active {
    background-color: #444;
    color: #fff;
}

.main {
    border: dotted 4px #000;
    visibility: hidden;
    height: 80vh;
    left: 10vw;
    position: absolute;
    top: 10vh;
    width: 80vw;
    z-index: 2;
}

.target .main {
    visibility: visible;
}

@media screen and (min-width: 990px) {
    .main {
        left: 30vw;
        width: 40vw;
    }
}