#map .ol-layers {
    background-color: forestgreen;
}

#map .ol-layer:first-child {
    mix-blend-mode: color-burn; 
}

/* .eng-bounds {
    border: dotted 4px #000;
    height: 80vh;
    left: 15px;
    position: absolute;
    top: 10vh;
    width: calc(100vw - 30px);
    z-index: 2;
} */

/* .eng-bounds {
    border: dotted 4px #000;
    height: 80vh;
    left: 10vw;
    position: absolute;
    top: 10vh;
    width: 40vw;
    z-index: 2;
} */

/* 

@media screen and (min-width: 1500px) {
    .main {
        height: 800px;
        left: 200px;
        top: 200px;
        width: 1200px;
    }    
} */
